body {
  margin: 0;
  font-family: Arial, sans-serif;

  background: url('https://images.unsplash.com/photo-1639322537228-f710d846310a') no-repeat center center/cover;
}

/* Overlay gelap */
body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
}

/* Container */
.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card Glass */
.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  width: 90%;
  max-width: 350px;
}

/* Input */
.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  font-size: 16px;
}

/* Button */
button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Hover */
button:hover {
  opacity: 0.9;
}

#tagsResult {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
